@import '@angular/cdk/overlay-prebuilt.css';

.top-lining {
    height: 50px;
    position: fixed;
    top: 0;
    background: grey;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pages {
    margin-top: 50px;
}
